version: '3.8'

services:
  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    ports:
      - "4444:4444"
      - "4442:4442"
      - "4443:4443"
    environment:
      - SE_SESSION_REQUEST_TIMEOUT=300
      - SE_SESSION_RETRY_INTERVAL=5

  chrome:
    image: selenium/node-chrome:latest
    container_name: selenium-chrome
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=3
      - SE_NODE_SESSION_TIMEOUT=300
    shm_size: '2gb'
    volumes:
      - /dev/shm:/dev/shm

  firefox:
    image: selenium/node-firefox:latest
    container_name: selenium-firefox
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=3
      - SE_NODE_SESSION_TIMEOUT=300
    shm_size: '2gb'
    volumes:
      - /dev/shm:/dev/shm

  scraper:
    build:
      context: .
      dockerfile: Dockerfile.scraper
    container_name: slush-scraper
    depends_on:
      - selenium-hub
      - chrome
      - firefox
    environment:
      - SELENIUM_HUB=http://selenium-hub:4444
      - SLUSH_EMAIL=${SLUSH_EMAIL}
      - SLUSH_PASSWORD=${SLUSH_PASSWORD}
    volumes:
      - ./:/app
      - ./startup_swiper.db:/app/startup_swiper.db
      - ./slush_scraper_screenshots:/app/slush_scraper_screenshots
      - ./slush_profile_links.json:/app/slush_profile_links.json
    working_dir: /app
    command: tail -f /dev/null  # Keep container running

networks:
  default:
    name: selenium-network
